@charset "utf-8";
/* CSS Document */
.content {
	width:915px;
	font-size:1.2em;
	margin:0 auto;
	padding:100px 0;
	color:#525252;
}
.content h2 {
	color:#2F2F2F;
}
.content h3 {
	padding-bottom:20px;
}
.colorRemove {
	background-color:#044237;
}
.colorRemove:hover {
	background-color:#279494;
}
.contactUsButton {
	font-size:1.1em;
	width:30%;
	height:auto;
	padding:15px 10px;
	border-radius:10px;
	border:none;
	box-shadow:none;
	box-shadow:1px 5px 30px #000;
	color:#FFF;
}
span {
	font-size:1.0em;
	color:#989898;
}
.textAlign {
	padding:20px 0 0 0;
	text-align:center;
}
.fl {
	padding:15px 0;
	width:100%; 
}
.changes {
	margin:5px 10px 0 0;
	font-size:0.9em;
}
label {
	padding:10px 5px;
	color:#470001;
}
textarea {
	width:100%;
	font-size:0.9em;
	padding:8px 10px;
	margin:5px 0 0 0;
	background-color:#93B1AC;
	box-shadow:5px 5px 40px;
	border:none;
	border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
	outline:none;
}
@media screen and (max-width: 915px) {
	.content {
		width:90%;
	}
	.changes {
		width:90%;
	}
}